@model Domain.Models.TimeSheetEntry

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TimeSheetEntry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TimeSheetEntryId" />
        <div class="form-group">
            <label asp-for="Company" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="User" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkTime" class="form-control" />
                <span asp-validation-for="WorkTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
