################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/node_modules
/Web/node_modules
/Web/node_modules
