.timesheet-grid {
    .container {
        width: 60%;
    }

    > div {
        float: left;
        background: #688A01;
    }

    form {
        float: right;
        background: #688A01;
        box-shadow: 5px 5px 5px 5px #688A01;
        padding: 10px;
        margin: 10px;
    }
}

.main-timesheet {
    .timesheet-grid {
        width: 70%;
        float: left;
    }

    form {
        width: 29%;
        float: right;
    }
}
